@charset "UF-8";

.corpo{
    margin: auto;
    width: 700px;
    background-color: beige;
}
.h1-cadastro{
    text-align: center;
    color: #D9AD5B;
}
.hr-cadastro{
    margin-left: 25px;
    margin-right: 25px;
}
.div-corpo-form{
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid black;
    width: 100%;
    height: 300px;
    background-color: rgb(253, 253, 253);

}
.div-for{
    width: 100%;
    height: 100%;
}
.form{
text-align: center;
width: 100%;
height: 100%;
margin: auto;

}
.labelNome{
    margin: 10px;
}
.inputNome{
    width: 180px;
}
.labelEndere{
    margin: 10px;
}
.inputEndere{
    width: 180px;

}
.labelNum{
    margin: 10px;
}
.inputNum{
    width: 40px;

}
.labelNum{
    margin: 10px;
}
.inputNum{
    width: 40px;

}
.labelSenha{
    margin: 10px;
}
.inputSenha{
    width: 240px;

}
.labelConSenha{
    margin: 10px;
}
.inputConSenha{
    width: 240px;

}

.btnEnviar{
    margin-top: 30px;
border-radius: 10px;
   width: 70px;
   height: 50px;
    background-color: darkgreen;
    color: rgb(199, 228, 199);
}




