@charset "UF-8";

.corpo{
    margin: auto;
    width: 600px;
    background-color: beige;
}
.h1-cadastro{
    text-align: center;
    color: #D9AD5B;
}
.hr-cadastro{
    margin-left: 25px;
    margin-right: 25px;
}
.div-corpo-form{
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid black;
    width: 100%;
    height: 570px;
    background-color: rgb(253, 253, 253);

}
.div-for{
    width: 100%;
    height: 100%;
}
.form{
text-align: center;
width: 100%;
height: 100%;
margin: auto;

}
fieldset{
    border-color: #D9AD5B;
    margin: 15px;
}
legend{
    
}
.labelNome{
 
}
.inputNome{
    width: 190px;
}
.labelEndere{
  
}
.inputEndere{
    width: 190px;
    margin-bottom: 15px;


}
.labelNum{
    margin: 10px;
}
.inputNum{
    width: 40px;

}
.labelNum{
    margin: 10px;
}
.inputNum{
    width: 40px;

}
.labelSenha{
    margin: 10px;
}
.inputSenha{
    width: 140px;

}
.labelConSenha{
    margin: 10px;
}
.inputConSenha{
    width: 140px;
}
.labelEmail{

}
.inputEmail{
    width: 240px;
}
.labelBairro{

}
.inputBairro{
    width: 240px;
}

.btnEnviar{  
    

border-radius: 10px;
   width: 70px;
   height: 50px;
    background-color: darkgreen;
    color: rgb(199, 228, 199);
}




