@charset  "UTF-8";

@media screen and (min-width:430px) and (max-width:1390px){
.secao-futebol{
    margin-left:200px;
    margin-right: 200px;
    width: auto;
    height: auto;
    border-radius: 20px;   
}
.imagem-futebol{
    width: 315px;
    height: auto;
    border: 1px solid #6BD425;
    margin-top: 2.5%;
    margin-left: 2.5%;
    border-radius: 7px;
    margin-bottom: 2.5%;
}
/*grid dividindo em 3 colunas com 1fr deixando proporcional a largura da tela 100%*/
.grid-futebol {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid #6BD425;
    margin-bottom: 5%;
    border-radius: 7px;
    margin-bottom: 8%;
   background-color: #8A8C4A;
}  

/*:th-child ele pega o filho da tag declarado */
.grid-futebol >div:nth-child(1){
    color:white;
}
.grid-futebol>div:nth-child(2){  
    background-color: #4F5D2F;
    color:#f2f597;
    padding: 30px;
    font-size: 13px;
    margin-left: 3%;
    margin-right: -3.2%;
}

.grid-futebol>div:nth-child(3){
    background-color: white;
    border-radius: 7px;
    color: #8C0D0D;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin: 10px;
    height: 420px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    overflow: scroll ;    
}

/*(n+3) ele pega os filhos aparte do 3 */
.grid-futebol>div h1:nth-child(n+1){
    color: #6BD425;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.grid-futebol>div p:nth-child(n+1){
    color: #4F5D2F;
    text-indent: 23px;
}
.grid-futebol>div h3:nth-child(n+1){
    text-indent: 20px;  
 }
/*usando a chave da animação definindo transição linear infinito*/
 .img-futebol{
    z-index :0;
/*deixa o cursor do mouse a mão aberta */
    cursor: grab;    
 }
 .img-futebol:hover{  
 }

 .img-copa{
    display: relative;
    width: auto;
    height: 400px;
    background: url(../imagens/background/copa-do-mundo-full.jpg)center center;
   /* opacity: 0.6;*/
    background-size: cover;
    margin-bottom: 3%;
}
.titulo-img-copa{
    padding-left: 25%;
    padding-top: 10%;
    display: absolute;
    right: 100px;
    width: 700px;
    height: 200px;
    font-size: 100px; 
    color: white;
}
 .futebol-informacao{
    margin-left: 10%;
    margin-right: 10%;
 }
.div-card-futebol{
    width: 900px;
    height: 215px;
    background-color: black;
    overflow-x: scroll;
}
.copa-d0-mundo-estatistica-time{
    background-color:#8A8C4A;
    width: 100%;
    height: 340px;
   z-index: 0;  
   }
.container-time-copa-do-mundo{
       margin-left: 17%;
       margin-right: 18%;
       width: 1050px;
       height: 100%; 
   }
/*Design inspiração netflix */
.time-01-fut{
    position: relative;
    margin-right: 7%;
    margin-top: 2.7%;
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #4F5D2F;
    z-index:0;
   }
   .h1-1{
    right: 124px;
    top: -300px;
    position: absolute;
    font-size:340px;
    color: rgb(255, 255, 255);
    z-index: -2;
   }
.real-madri{
    position: relative;
    left: 24px;
    top: 13px;
    z-index: 1;
    width: 80%;
    height: 80%;
    margin-bottom: 18%;
   }
   .a-copa-do-mundo{
    color: rgb(204, 0, 0);
    display: inline-block;
   }
   .time-02-fut{
    position: relative;
    margin-right: 7%;
    margin-top: 2.7%;
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #4F5D2F;
    z-index:0;
   }
   
   .h1-2{
    right: 124px;
    top: -300px;
    position: absolute;
    font-size:340px;
    color: rgb(255, 255, 255);
    z-index: -2;
   
   z-index: -2;
   }
   .barcelona{
       position: relative;
     left: 22px;
     top: 29px;
    z-index: 1;
    width: 80%;
    height: 80%;
    margin-bottom: 18%;
   }
   .time-03-fut{
    position: relative;
    margin-right: 7%;
    margin-top: 2.7%;
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #4F5D2F;
    z-index:0;
   }
   .h1-3{
    right: 124px;
    top: -300px;
    position: absolute;
    font-size:340px;
    color: rgb(255, 255, 255);
    z-index: -2; 
   }
   .santos{
    position: relative;
    left: 22px;
    top: 20px;
    z-index: 1;
    width: 80%;
    height: 80%;
    margin-bottom: 18%;
   }
   .logo-a{
   color: white;
   } 
   .a-nba{
    border-radius: 50%;
   }

}