@charset  "UTF-8";

@media screen and (min-width:430px) and (max-width:1390px){
.secao-futebol{
    margin-left:200px;
    margin-right: 200px;
    width: auto;
    height: auto;

    border-radius: 20px;
 
    
}
.imagem-futebol{
    width: 300px;
    height: auto;
    border: 1px solid #6BD425;
     margin-top: 2.5%;
     margin-left: 2.5%;
     border-radius: 7px;
     margin-bottom: 2.5%;

  

}

/*grid dividindo em 3 colunas com 1fr deixando proporcional a largura da tela 100%*/
.grid-futebol {
    align-items: center;
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid #6BD425;

    margin-bottom: 5%;
 
    border-radius: 7px;
   background-color: #8A8C4A;


}  

/*:th-child ele pega o filho da tag declarado */
.grid-futebol >div:nth-child(1){
  color:white;

}
.grid-futebol>div:nth-child(2){
    
    
    background-color: #4F5D2F;
    color:#f2f597;
    padding: 30px;
    font-size: 13px;

    margin-left: -1%;
    margin-right: -3.2%;
}

.grid-futebol>div:nth-child(3){
    background-color: white;
    border-radius: 7px;
    color: #8C0D0D;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin: 10px;
    height: 420px;
 box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    overflow: scroll ;
    
    

    
}


/*(n+3) ele pega os filhos aparte do 3 */
.grid-futebol>div h1:nth-child(n+1){
    color: #6BD425;

    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}




.grid-futebol>div p:nth-child(n+1){
    color: #4F5D2F;
    text-indent: 23px;
}
.grid-futebol>div h3:nth-child(n+1){
    text-indent: 20px;
   
 
    
 }
      /*usando a chave da animação definindo transição linear infinito*/
 .img-futebol{
  
    
     z-index :0;
   
     /*deixa o cursor do mouse a mão aberta */
     cursor: grab;
  

     
 }
 .img-futebol:hover{

 
    
 }
 .futebol-informacao{
    margin-left: 10%;
    margin-right: 10%;
 }



.div-card-futebol{
    width: 900px;
    height: 215px;
    background-color: black;
    overflow-x: scroll;

  
}
.card-01,.card-02,.card-03,.card-04,.card-05,.card-06{
   display: inline-block;

    margin: 20px;
    width:150px ;
    height: 150px;
    background-color:rgba(255,255,255,0.1);
    border-radius: 50%;
   
}



}