@charset  "UTF-8";

@media screen and (min-width:430px) and (max-width:1390px){
.secao-motor{ 
    margin-bottom: 8%;
    margin-left:200px;
    margin-right: 200px;
    width: auto;
    height: auto;
    border-radius: 20px;   
}
.imagem-motor{
    width: 315px;
    height: auto;
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 7px; 
    border: 1px solid #825D84;
}
/*grid dividindo em 3 colunas com 1fr deixando proporcional a largura da tela 100%*/
.grid-motor{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid #825D84;
    border-radius: 7px;
    margin-bottom: 8%;
    background-color: #4a4a4b;
}  

/*:th-child ele pega o filho da tag declarado */
.grid-motor >div:nth-child(1){
  color:white;
}
.grid-motor >div:nth-child(2){  
    color:#BFC7D9;
    background-color:#000000;
    padding: 30px;
    font-size: 13px;
    margin-left: 3%;
    margin-right: -3.2%;
}

.grid-motor >div:nth-child(3){
    background-color: white;
    width: auto;
    border-radius: 7px;
    color: #8C0D0D;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin: 10px;
    height: 400px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    overflow: scroll ;
}

/*(n+3) ele pega os filhos aparte do 3 */
.grid-motor>div .h1-surf:nth-child(n+1){
    color:#1b1010;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.grid-motor>div p:nth-child(n+1){
     color: #022a4d
     ;
    text-indent: 23px;
}
.grid-motor>div h3:nth-child(n+1){
    text-indent: 20px;   
 }
      /*usando a chave da animação definindo transição linear infinito*/

/*=================================================
====================================================
=================================================*/
.container-img-motor{
    
}
      .img-motor{
        display: relative;
        width: auto;
        height: 330px;
        background: url(../imagens/background/formula-one-background-gimp.webp)center center;
        /*opacity: 0.6;*/
        background-size: cover;
        margin-bottom: 3%;
    }  
    .titulo-img-motor{
        padding-left: 42%;
        padding-top: 8%;
        display: absolute;
        right: 100px;
        width: 100px;
        height: 100px;
       font-size: 100px;   
        color: white;
    }
 .motor-informacao{
     margin-left: 10%;
     margin-right: 10%;
 }


}