
@charset "UTF-8";

@media screen and (min-width:0px) and (max-width:500px){
body{
    background-color: beige;
}
nav{

  
    margin-top: -8px;
    position: fixed;
    
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
   
}
ul{
    
    padding: 0px;
    margin: 7px;
}
.li{
    padding: 10px;
    font-family: Arial;
    font-size: 10px;
    margin: 1px;
    display: inline-block;
}
.li:hover{
    background-color:#5C7FAA;
    border-radius: 5px;
  
}
a{
    color: white;
    text-decoration: none;


}
a:hover{
    color:#403222;
}
.header-titulo{
   
    padding-left: 80px;
     padding-top: 10px;
     padding-bottom: 10px;
    width: auto;
    height: auto;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    color: white;
}
.header-titulo h1{
    font-size: 70px;
    color: #D9A25F;
    padding-left: 10px;
    text-shadow:4px 2px 2px #403222;
    border-top: 1px solid rgba(255, 255, 255,0.3);
    border-left: 1px solid rgba(255, 255, 255,0.3);
    border-radius: 10px;
    
}
.header-titulo h2{
    font-size: 50px;
    color: #D9A25F;
    padding-left: 10px;
    text-shadow:4px 2px 2px #403222;

}
.header-titulo2{

     float: right;
    padding-left: 80px;
     padding-top: 10px;
     padding-bottom: 10px;
    width:350px;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255,0.3);

   
}
.header-titulo2 h1{
    font-size: 50px;
    color: white;
    text-shadow:4px 2px 2px #403222;
}
.header-titulo2 h2{
    padding-left: 10px;
    font-size: 25px;
    color: white;
    text-shadow:4px 2px 2px #403222;
}

.cabecalho{
   margin: -8px;
    width: auto;
    height: 570px;
    background-image: url(../imagens/background/principalfull.jpg);
    /*background-attachment: fixed;*/
    background-size: cover ;
}

.secao{
    margin-left:35px;
    margin-right: 35px;
    width: auto;
    height: auto;
    
}
.imagem-basquete{
    width: 230px;
    height: 360px;
    padding-left: 20px;
    border-radius: 12px;
    padding-top: 20px;
}
.grid {
    align-items: center;
    border: 1px solid #F21616;
    display: grid;
    grid-template-columns: 1fr;
}  
.grid >div:nth-child(2){
    color: #8C0D0D;
    padding: 40px;
    margin: 0px;
    
  
    margin-right: 60px;
    margin-left: 0px;
  
    border-radius: 30px;
}
.grid>div:nth-child(n+3){
    background-color: white;
    border-radius: 30px;
    color: #8C0D0D;
    padding: 40px;

    width: auto;
    height: 550px;
    align-items: center;
    
}
.grid>div h1:nth-child(n+1){
    color:#D9AD5B;
  

   
}
.grid>div h3:nth-child(n+1){
   text-indent: 20px;
  

   
}
.grid>div p:nth-child(n+1){

    text-indent: 23px;
}

}