
@charset "UTF-8";

@media screen and (min-width:0px) and (max-width:700px){
body{
    background-color: white;
}
nav{
    margin-top: 0px;
    position: fixed;
    
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
   
}
ul{
    
    
    padding: 0px;
    margin: 7px;
}
.li{
    padding: 10px;
    font-family: Arial;
    font-size: 10px;
    margin: 1px;
    display: inline-block;
}
.li:hover{
    background-color:white;
    border-radius: 5px;
  
}
a{
    color: white;
    text-decoration: none;
   
}
a:hover{
    color:#D9A25F;
}
p{
    text-align: justify;
}
.header-titulo{
   
    padding-left: 80px;
     padding-top: 10px;
     padding-bottom: 10px;
    width: auto;
    height: auto;
    color: white;

}
.header-titulo h1{
    font-size: 70px;
    color: #D9A25F;
    padding-left: 10px;
    text-shadow:4px 2px 2px #403222;
    border-top: 1px solid rgba(255, 255, 255,0.3);
    border-left: 1px solid rgba(255, 255, 255,0.3);
    border-radius: 10px;
 
    
}
.header-titulo h2{
    font-size: 50px;
    color: #D9A25F;
    padding-left: 10px;
    text-shadow:4px 2px 2px #403222;


}
.header-titulo2{

    text-align: center;
   margin-left: 14%;
   margin-right: 14%;
    width:70%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255,0.3);

   
}
.header-titulo2 h1{
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow:4px 2px 2px #403222;
}
.header-titulo2 h2{
    text-align: center;
    padding-left: 10px;
    font-size: 25px;
    color: white;
    text-shadow:4px 2px 2px #403222;
}

.cabecalho{
   margin: -8px;
    width: auto;
    height: auto;
    background-image: url(../imagens/background/principalfull.jpg);
    /*background-attachment: fixed;*/
    background-size: cover ;
}

.secao-basquete{
    margin-left:20px;
    margin-right: 20px;
    width: auto;
    height: auto;
    background-color:#8C0D0D;
    border-radius: 20px;
    
}
.imagem-basquete{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 7%;
    border-radius: 10px;
    width: 89%;
    height: auto;

    padding-top: 20px;
}
.grid {
    align-items: center;
    border-top: 1px solid #D9A25F;
    border-left:1px solid #D9A25F ;
    border-right: 1px solid #D9A25F;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 20px;

   
}  
.grid >div:nth-child(1){
    
      align-items: center;
      position: center;
 
   

}
.grid >div:nth-child(2){
 
    color:#D9A25F;
    padding: 13%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #D9A25F;
    border-radius: 10px;
  

}

.grid>div:nth-child(3){
    margin:-5px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    background-color: white;
    border-radius: 0px 0px 0px 0px ;
    color: #8C0D0D;
    padding: 23px;

    width: auto;
    height: auto;
    align-items: center;

   
}

.grid>div h1:nth-child(n+1){
    color:#D9AD5B;
   
}
.grid>div h3:nth-child(n+1){
   text-indent: 20px;
   
}
.grid>div p:nth-child(n+1){

    text-indent: 23px;
}
.img-basquete{
     /*usando a chave da animação definindo transição linear infinito*/
     animation: bola-movimento 1s linear infinite;
     border: 3px solid #590A0A ;
     border-radius: 50%;

     
 }
 .informacao{
    background-color: white;
 
}


.secao-surf{
    margin-left:20px;
    margin-right: 20px;
    width: auto;
    height: auto;
    background-color:rgb(151, 228, 228);
    border-radius: 20px;

  
    
}
/*adicionando chave para animaçâo */
 @keyframes bola-movimento {
     from{
          transform: translateY(0px);
     }
     to{

        transform: translateY(-7px);
     }
     
 }
}



