
@charset "UTF-8";

/*media para responsividade de tela para desktop de 430px espandindo até 2500px */
@media screen and (min-width:720px) and (max-width:1490px){

body{
  margin: 0%;

    width: 100%;
    height: 100%;
    background-color: white;
    /*se expande no minimo 990 pixel */
    min-width:1300px;
    /*overflow-x: hidden;*/
  
    
}
.navBar{
    display: none;
    visibility: hidden;

}
.wrapper{
    display: none;
    visibility: hidden;

}
nav{

     padding: 1px;
    z-index: 1;
    margin-top: 0px;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.07);

   
}
nav:hover{
    background-color: rgb(0,0,0);
    animation: opacidade 0.7s ease-in ;
    color: white;
}
ul{
 
    padding: 0px;
    margin: 5px;
}
.li{

   /*deixa o cursor:pointer design  com mão com o dedo indicador  */
    cursor: pointer;
    padding: 10px;
    font-family: Arial;
    font-size: 17px;
    margin: 2px;
    display: inline-block;
    
}
.li:hover{
 
    background-color:white;
    border-radius: 5px;
    animation: bola-movimento 0.9s linear infinite ;
    

}
a{

    color:rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 2px 4px black;
    text-decoration: none;


}

a:hover{
   
    color: #D9A25F;
   
}
p{
   
    text-align: justify;
  
    text-indent: 23px;
   word-break: break-all;
/*para não espaços entre letras */
  letter-spacing: 0px;
  word-spacing: 0px

  
}
.header-titulo{
    z-index: 1;
  
     padding-top: 10px;
     padding-bottom: 10px;
    width: auto;
    height: auto;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    color: white;
}
.header-titulo h1{
    margin-top: 66px;
    margin-bottom: 10px;
    margin-left: 90px;
    z-index: 1;
    font-size: 70px;
    color: #D9A25F;
    padding-left: 10px;
    text-shadow:4px 2px 2px #403222;
    border-top: 1px solid rgba(255, 255, 255,0.3);
    border-left: 1px solid rgba(255, 255, 255,0.3);
    border-radius: 10px;
    
}
.header-titulo h2{
    margin-left: 120px;
    margin-top: 14px;
    margin-bottom: 10px;
    z-index: 1;
    font-size: 50px;
    color: #D9A25F;
    padding-left: 10px;
    text-shadow:4px 2px 2px #403222;

}
.header-titulo2{

     float: right;
    padding-right: 100px;
     padding-top:-100px;
     margin-bottom: 60px;
    width:350px;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255,0.3);

   
}
.header-titulo2 h1{
    
    z-index: 1;
    font-size: 50px;
    color: white;
    text-shadow:4px 2px 2px #403222;
}
.header-titulo2 h2{

    padding-left: 10%;
    font-size: 25px;
    color: white;
    text-shadow:4px 2px 2px #403222;
}
.imagem-principal{
width: auto;
height: 500px;

}

.cabecalho{
    width: 100%;
    height: 620px;
   background: url(../imagens/background/paisagemfull.jpg)no-repeat;
   background-position-y: -250px;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   margin-bottom: 5%;
 
}
.cabecalho :hover{
   
}

.secao-basquete{

    margin-left:200px;
    margin-right: 200px;
    width: auto;
    height: auto;

    border-radius: 20px;
    
}

.imagem-basquete{
    width: 300px;
    height: auto;
    border: 1px solid #D9AD5B;
  margin-top: 2.5%;
  margin-left: 2.5%;
  border-radius: 7px;
  margin-bottom: 2.5%;

}
/*grid dividindo em 3 colunas com 1fr deixando proporcional a largura da tela 100%*/
.grid {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr;
    border: 2px solid #D9AD5B;
    border-radius: 7px;
    margin-bottom: 8%;
    
}  

/*:th-child ele pega o filho da tag declarado */
.grid >div:nth-child(1){
  color:white;

}
.grid >div:nth-child(2){
    
    background-color: #590A0A;
    color: #D9AD5B;
    padding: 30px;
    font-size: 13px;

    margin-left: 3%;
    margin-right: -3.2%;

}

.grid >div:nth-child(3){
    background-color: white;
    width: auto;

    border-radius: 7px;
    color: #8C0D0D;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin: 10px;
    height: 400px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    overflow: scroll ;
    
}


/*(n+3) ele pega os filhos aparte do 3 */
.grid>div h1:nth-child(n+1){
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color:#D9AD5B;

   
}

.grid>div h3:nth-child(n+1){
    text-indent: 20px;
   
 
    
 }
      /*usando a chave da animação definindo transição linear infinito*/
 .img-basquete{
    border: 3px solid #590A0A ;
     border-radius: 50%;
     z-index :0;
     animation: girar 0.3s linear infinite;
     /*deixa o cursor do mouse a mão aberta */
     cursor: grab;
  

     
 }
 .img-basquete:hover{

     animation: bola-movimento 0.5s  linear infinite ;
    
 }
 

}

.img-nba{
    display: relative;
    width: auto;
    height: 330px;
    background: url(../imagens/background/nba02-1200px.webp)center center;
   /* opacity: 0.6;*/
    
    background-size: cover;

 
}

.titulo-img-nba{
    padding-left: 42%;
    padding-top: 8%;
    display: absolute;
    right: 100px;
    width: 100px;
    height: 100px;
    font-size: 100px;
    
    color: white;
}
.informacao-nba{
    margin-top: 3%;
    margin-left: 11%;
    margin-right: 11%;
 
    margin-bottom: 8%;
}




.nba-estatistica-time{
    

 background-color: rgb(139, 22, 22);
 width: 100%;
 height: 340px;
z-index: 0;

}
.container-time-nba{
 
    margin-left: 17%;
    margin-right: 18%;
    width: 1050px;
    height: 100%;


}

/*Design inspiração netflix */

.time-01{
    
    position: relative;
    margin-right: 7%;
    margin-top: 2.7%;
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #590a0a;

    z-index:0;

}
.h1-1{
    right: 124px;
    top: -300px;
 position: absolute;
    font-size:340px;
    color: rgb(255, 255, 255);
 

z-index: -2;
}
.chicago-bulls {
   z-index: 1;
    width: 100%;
    height: 100%;

}
.a-nba{
    color: yellow;
    display: inline-block;
}
.time-02{
    position: relative;
    margin-right: 7%;
    margin-top: 2.7%;
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #590a0a;

    z-index:0;
}

.h1-2{
    right: 124px;
    top: -300px;
 position: absolute;
    font-size:340px;
    color: rgb(255, 255, 255);
    z-index: -2;

z-index: -2;
}
.golden-state{
    width: 100%;
    height: 100%;

}
.time-03{
    position: relative;
    margin-right: 7%;
    margin-top: 2.7%;
    display: inline-block;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #590a0a;

    z-index:0;
}
.h1-3{

    right: 124px;
    top: -300px;
 position: absolute;
    font-size:340px;
    color: rgb(255, 255, 255);
    z-index: -2;


}
.boston-celtics{
    width: 100%;
    height: 100%;
}
.logo-a{
color: white;
}

.a-nba{
    border-radius: 50%;
 
    
    

}

/*adicionando chave para animaçâo */
 @keyframes bola-movimento {
     from{
     
          transform: translateY(0px);
 
     }
     to{

        transform: translateY(-8px);
  
     }
  
     
     
 }
 /*animação circular crescente do ponto ao maximo da imagem */
 @keyframes scale {
     from {
         border-radius: 50%;
        transform: scale(0);
        opacity: 0;
     }
     to{
         border-radius: 50%;
        transform:scale (3.0);
        opacity: 1;
     }

 }
 @keyframes move {
    from{
    
         transform: translateX(0px);
  
    }
    to{

       transform: translateX(100%);
   
    }
 
    
    
}
@keyframes opacidade {
    from{
    
        opacity: 0;
   
    }
    to{

      opacity: 1;

    }
 
    
    
}
@keyframes girar {
    from{
    
        transform: rotate(0deg);
       
    }
    to{
 
        transform: rotate(10deg);
 
    }
 
    
    
 }
 @keyframes zoom {
     from{
         transform: scale(0);
     }
     to{
         transform: scale(1);
     }
 }





