
@charset "UTF-8";

/*media para responsividade de tela para desktop de 430px espandindo até 2500px */

@media screen and (min-width:430px) and (max-width:1400px){

body{

     


    background-color: white;
    /*se expande no minimo 990 pixel */
    min-width:1000px;
    
}
nav{
   
     padding: 1px;
    z-index: 1;
    margin-top: 0px;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.07);
   
}
nav:hover{
    background-color: rgb(0,0,0);
    animation: opacidade 0.7s ease-in ;
    color: white;
}
ul{
 
    padding: 0px;
    margin: 5px;
}
.li{

   /*deixa o cursor:pointer design  com mão com o dedo indicador  */
    cursor: pointer;
    padding: 10px;
    font-family: Arial;
    font-size: 17px;
    margin: 2px;
    display: inline-block;
    
}
.li:hover{
 


    background-color:white;
    border-radius: 5px;
    animation: bola-movimento 0.9s linear infinite ;
    

}
a{

    color:rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 2px 4px black;
    text-decoration: none;


}

a:hover{
   
    color: #D9A25F;
   
}
p{
    text-align: justify;
}
.header-titulo{
    z-index: 1;
  
     padding-top: 10px;
     padding-bottom: 10px;
    width: auto;
    height: auto;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    color: white;
}
.header-titulo h1{
    margin-top: 66px;
    margin-bottom: 10px;
    margin-left: 90px;
    z-index: 1;
    font-size: 70px;
    color: #D9A25F;
    padding-left: 10px;
    text-shadow:4px 2px 2px #403222;
    border-top: 1px solid rgba(255, 255, 255,0.3);
    border-left: 1px solid rgba(255, 255, 255,0.3);
    border-radius: 10px;
    
}
.header-titulo h2{
    margin-left: 120px;
    margin-top: 14px;
    margin-bottom: 10px;
    z-index: 1;
    font-size: 50px;
    color: #D9A25F;
    padding-left: 10px;
    text-shadow:4px 2px 2px #403222;

}
.header-titulo2{

     float: right;
    padding-right: 100px;
     padding-top:-100px;
     margin-bottom: 60px;
    width:350px;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255,0.3);

   
}
.header-titulo2 h1{
    
    z-index: 1;
    font-size: 50px;
    color: white;
    text-shadow:4px 2px 2px #403222;
}
.header-titulo2 h2{

    padding-left: 10%;
    font-size: 25px;
    color: white;
    text-shadow:4px 2px 2px #403222;
}
.imagem-principal{
width: auto;
height: 500px;



}

.cabecalho{

    margin: -8px;
    width: 1350px;
    height: 600px;
  

   background: url(../imagens/background/paisagemfull.jpg);
   background-position-y: -250px;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;


  



   
}
.cabecalho :hover{
   
}

.secao-basquete{

    margin-left:100px;
    margin-right: 100px;
    width: auto;
    height: auto;

    border-radius: 20px;
    
}
.imagem-basquete{
    width: 300px;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 7%;
   
    width: 300px;
  
    border-radius: 10%;

 
    padding-top: 20px;
}
/*grid dividindo em 3 colunas com 1fr deixando proporcional a largura da tela 100%*/
.grid {
    align-items: center;
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid #D9A25F;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;


}  

/*:th-child ele pega o filho da tag declarado */
.grid >div:nth-child(1){
  color:white;

}
.grid >div:nth-child(2){
    
    
    color: #D9AD5B;
    padding: 60px;
  
    margin-left: 0px;
  
  
    
  
    border-radius: 30px;
}

.grid>div:nth-child(3){
    background-color: white;
    border-radius: 30px;
    color: #8C0D0D;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin: 10px;
    height: 420px;
  
    
    
 
 box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    overflow: scroll ;
    
    

    
}


/*(n+3) ele pega os filhos aparte do 3 */
.grid>div h1:nth-child(n+1){
    color:#D9AD5B;

   
}




.grid>div p:nth-child(n+1){
   
    text-indent: 23px;
}
.grid>div h3:nth-child(n+1){
    text-indent: 20px;
   
 
    
 }
      /*usando a chave da animação definindo transição linear infinito*/
 .img-basquete{
    border: 3px solid #590A0A ;
     border-radius: 50%;
     z-index :0;
     animation: girar 0.6s linear infinite;
     /*deixa o cursor do mouse a mão aberta */
     cursor: grab;
  

     
 }
 .img-basquete:hover{

     animation: bola-movimento 0.5s  linear infinite ;
    
 }
 .informacao{
     background-color: white;
  
}


}



/*adicionando chave para animaçâo */
 @keyframes bola-movimento {
     from{
     
          transform: translateY(0px);
 
     }
     to{

        transform: translateY(-8px);
  
     }
  
     
     
 }
 /*animação circular crescente do ponto ao maximo da imagem */
 @keyframes scale {
     from {
         border-radius: 50%;
        transform: scale(0);
        opacity: 0;
     }
     to{
         border-radius: 50%;
        transform:scale (3.0);
        opacity: 1;
     }

 }
 @keyframes move {
    from{
    
         transform: translateX(0px);
  
    }
    to{

       transform: translateX(100%);
   
    }
 
    
    
}
@keyframes opacidade {
    from{
    
        opacity: 0;
   
    }
    to{

      opacity: 1;

    }
 
    
    
}
@keyframes girar {
    from{
    
        transform: rotate(0deg);
       
    }
    to{
 
        transform: rotate(35deg);
 
    }
 
    
    
 }





