@charset "UTF-8";


body{
    background-color: beige;
    margin: auto;
    width: 700px; 
}
h1{
    font-size: 22px;

}
h2{
    font-size: 15px;

}
.div-corpo-form{
    background-color: white;
    padding: 30px;
}
.telaUsuario{

  
   
}
.div-imagemUsuario{
    display: flex;
    justify-content: center;
    text-align: center;
    animation: move 2s linear ;
}
#imagemUsuario{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid black;
    animation: sombra 2s infinite linear;
}
.a-voltar,.a-alterar{
    text-align: center;
}

@keyframes sombra{
    from {
      box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.493);
    }
    to{
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.493);
    }
    50%{
        box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.493);
    }
}
@keyframes move{
    from{
       transform: translateX(300px);
    }
    to{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0px);
    }
}
