body{
    margin: auto;
    width: 700px;
    height: auto;
    background-color: beige;
}

.div-termo{
    background-color: white;
    height: 500px;
}
.h1-termo{
    text-align: center;
}
p{
    text-align: left;
}