body{
    margin: auto;
    width: 700px;
    height: auto;
    background-color: beige;
}

.div-termo{
    padding: 15px;
    background-color: white;
    height: 500px;
    border-radius: 20px;
    border: 2px solid darkgoldenrod ;
}
.h1-termo{
    text-align: center;
}
p{
    text-align: left;
}