
@charset "UTF-8";

@media screen and (min-width:0px) and (max-width:700px){
body{
    background-color: white;
    margin:0;
    overflow-x: hidden;
}
nav{
    z-index :1;
    margin-top: 0px;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 1); 
}
ul{  
    padding: 0px;
    margin: 7px;
}
.li{
    /*deixa o cursor:pointer design  com mão com o dedoindicador  */
    cursor: pointer;
    padding: 10px;
    font-family: Arial;
    font-size: 10px;
    margin: 1px;
    display: inline-block;
}
.li:hover{
    background-color:white;
    border-radius: 5px;
  
}
a{
    color: white;
    text-decoration: none;
   
}
a:hover{
    color:#D9A25F;
}
p{
    text-align: justify;
    text-indent: 23px;
   word-break: break-all;
/*para não espaços entre letras */
  letter-spacing: 0px;
  word-spacing: 0px;
}
.header-titulo{
    margin-top: 0%;
    text-align: center;
   margin-left: 14%;
   margin-right: 14%;
   padding-top: 15%;
    width:70%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255,0.3);

}
.header-titulo h1{
    text-align: center;
    font-size: 70px;
   
    color: #D9A25F;
 
    text-shadow:4px 2px 2px #403222;
    border-top: 1px solid rgba(255, 255, 255,0.3);
    border-left: 1px solid rgba(255, 255, 255,0.3);
    border-radius: 10px;
 
    
}
.header-titulo h2{
    font-size: 50px;
    color: #D9A25F;
    padding-left: 7%;
    text-shadow:4px 2px 2px #403222;


}
.header-titulo2{

    text-align: center;
   margin-left: 14%;
   margin-right: 14%;
    width:70%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255,0.3);

   
}
.header-titulo2 h1{
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow:4px 2px 2px #403222;
}
.header-titulo2 h2{
    text-align: center;
    padding-left: 10px;
    padding-bottom: 30px;
    font-size: 25px;
    color: white;
    text-shadow:4px 2px 2px #403222;
}

.cabecalho{
 
    width: auto;
    height: auto;
   
  

    background: url(../../imagens/background/paisagem-320px-548px-gimp.webp)no-repeat;
  
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.secao-basquete{
    margin-left:20px;
    margin-right: 20px;
    width: auto;
    height: auto;

    border-radius: 20px;
    
}
.imagem-basquete{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 7%;
    border-radius: 10px;
    width: 89%;
    height: auto;
    border-radius: 7%;
    padding-top: 20px;
}
.grid {
    align-items: center;
    border-top: 1px solid #D9A25F;
    border-left:1px solid #D9A25F ;
    border-right: 1px solid #D9A25F;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 20px;

   
}  

.grid >div:nth-child(1){
    
      align-items: center;
      position: center;
 
   

}
.grid >div:nth-child(2){
 
    color:#D9A25F;
    padding: 13%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #D9A25F;
    border-radius: 10px;
  

}

.grid>div:nth-child(3){
    margin:-5px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    background-color: white;
    border-radius: 0px 0px 0px 0px ;
    color: #8C0D0D;
    padding: 23px;

    width: auto;
    height: auto;
    align-items: center;

   
}

.grid>div h1:nth-child(n+1){
    color:#D9AD5B;
   
}
.grid>div h3:nth-child(n+1){
   text-indent: 20px;
   
}

.img-basquete{
 
      /*deixa o cursor do mouse a mão aberta */
     cursor: grab;
     border: 3px solid #590A0A ;
     border-radius: 50%;
     z-index:0;
         /*usando a chave da animação definindo transição linear infinito*/
     animation: girar 0.7s linear infinite;
     
 }
 .img-basquete:hover{
    animation: bola-movimento 0.7s infinite;

}
 .informacao{
    background-color: white;
 
}

.container-img{

  
      background-color: white;
      width: 100%;

      height: 120px;
      margin-top: 8%;
  }
  .img-nba{
        
      width: 100%;
      height: 120px;
      background: url(../../imagens/background/nba01-690px-200px.webp);
      background-position-y: 45%;
      opacity: 0.6;
  }
  
  .titulo-img-nba{
      padding-left: 38%;
      padding-top: 10%;
      display: absolute;
      right: 100px;
      width: 100px;
      height: 100px;
      font-size: 50px;
      
      color: white;
  }
  .informacao-nba{
      margin-top: 3%;
      margin-left: 11%;
      margin-right: 11%;
      margin-bottom: 3%;
  }
.nba-estatistica-time{
    
    align-items: center;
    background-color: rgb(139, 22, 22);
    width: 100%;
    height: 100%;
   }
   .container-time-nba{
       
        margin-left: 27%;
        margin-right: 10%;
      
       width: auto;
       height: 820px;
   }
   .time-01{
     
       margin-right: 5%;
       margin-top: 20%;
       margin-bottom: 20%;
       display: inline-block;
       width: 180px;
       height: 180px;
       border-radius: 50%;
       background-color: #590A0A;
   
   }
   .chicago-bulls {
         
       width: 100%;
       height: 100%;
   
   }
   .time-02{
    margin-top: 5%;
       margin-right: 5%;
       display: inline-block;
       width: 180px;
       height: 180px;
       margin-bottom: 20%;
       border-radius: 50%;
       background-color: #590A0A;
   
   }
   .golden-state{
       width: 100%;
       height: 100%;
   
   }
   .time-03{
    margin-top: 5%;
       margin-right: 5%;
       margin-bottom: 10%;
       display: inline-block;
       width: 180px;
       height: 180px;
       border-radius: 50%;
       background-color: #590A0A;
   
   }
   .boston-celtics{
       width: 100%;
       height: 100%;
   }
   



/*adicionando chave para animaçâo */
 @keyframes bola-movimento {
     from{
          transform: translateY(0px);
     }
     to{

        transform: translateY(-7px);
     }
     
 }
}
 /*animação circular crescente do ponto ao maximo da imagem */
@keyframes scale {
    from {
        border-radius: 50%;
       transform: scale(0);
       opacity: 0;
    }
    to{
        border-radius: 50%;
       transform:scale (3.0);
       opacity: 1;
    }

}
@keyframes move {
   from{
   
        transform: translateX(0px);
   }
   to{

      transform: translateX(100%);
   }

   
   
}
@keyframes opacidade {
   from{
   
       opacity: 0;
   }
   to{

     opacity: 1;
   }

   
   
}
@keyframes girar {
    from{
    
        transform: rotate(0deg);
    }
    to{
 
        transform: rotate(160deg);
    }
 
    
    
 }



