
@charset "UTF-8";

@media screen and (min-width:0px) and (max-width:700px){
body{
    background-color: white;
   margin: 0%;
    overflow-x: hidden;
}
.navBar {
	position: fixed;
  min-width: 100%;
  z-index: 3;
  background:#006eff42;
}

.logo {
    color: white;
  display: inline-block;
  height: 42px;
  margin: 45px 20px ;
  width: 187px;
}

.wrapper {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 2%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  min-width: 40%;
}
nav ul a {
  color: #FFF;
  text-decoration: none;
  transition: all 0.5s ease;
}
nav ul a:hover {
  color: #AAA;
}
nav li {
    display: inline-block;
    padding: 6px 17px;
    font-size: 20px;
    font-family: 'Brandon Grotesque';
    font-weight: normal;
  font-style: normal;
}

nav ul li:last-child a{
    padding: 6px 17px;
    border: 2px solid;  
    border-radius: 5px;
    color: #00E4D9;
}

#menu-icon { display: none; /* hide menu icon initially */}

nav ul li:last-child a:hover{
    color: #00ABAF;
}

nav #menu-toggle {
  display: none;
}
nav .label-toggle {
  display: none;
}
nav .wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  nav nav ul a {
    color: #FFF;
  }
  nav ul {
    background-color: #006eff49;
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    transition: all 1s ease;
    width: 100%;
    visibility: hidden;

  }
  nav li {
    color: #53354A;
    display: block;
    font-size: 1.5em;
    padding: 1em 0;
    text-align: center;
  }
  nav #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100vh;
    visibility: visible;
    background:#006cfa8a; 
  }
  nav .label-toggle {
    background: linear-gradient(to bottom, #FFF 0%, #FFF 20%, transparent 20%, transparent 40%, #FFF 40%, #FFF 60%, transparent 60%, transparent 80%, #FFF 80%, #FFF 100%);
    cursor: pointer;
    display: block;
    float: right;
    height: 35px;
    margin-top: 3em;
    margin-right: 2em;
    width: 35px;
  }
  nav .wrapper {
    display: block;
  }
}
nav{
    z-index :1;
 
    position: fixed;
    width: 100%;
    height: auto;
    background-color: rgba(0, 13, 83, 0.185); 
}
ul{  
    padding: 0px;
    margin: 7px;
}
.li{
    /*deixa o cursor:pointer design  com mão com o dedoindicador  */
    cursor: pointer;
    padding: 10px;
    font-family: Arial;
    font-size: 10px;
    margin: 1px;
    display: inline-block;
}
.li:hover{
    background-color:white;
    border-radius: 5px;
  
}
a{
    color: white;
    text-decoration: none;
   
}
a:hover{
    color:#D9A25F;
}
p{
    text-align: justify;
    text-indent: 23px;
   word-break: break-all;
/*para não espaços entre letras */
  letter-spacing: 0px;
  word-spacing: 0px;
}
.header-titulo{
    margin-top: 0%;
    text-align: center;
   margin-left: 14%;
   margin-right: 14%;
   padding-top: 15%;
    width:70%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255,0.3);

}
.header-titulo h1{
  
    text-align: center;
    font-size: 70px;
   
    color: #D9A25F;
 
    text-shadow:4px 2px 2px #403222;
    border-top: 1px solid rgba(255, 255, 255,0.3);
    border-left: 1px solid rgba(255, 255, 255,0.3);
    border-radius: 10px;
 
    
}
.header-titulo h2{
    font-size: 50px;
    color: #D9A25F;
    padding-left: 7%;
    text-shadow:4px 2px 2px #403222;


}
.header-titulo2{

    text-align: center;
   margin-left: 14%;
   margin-right: 14%;
    width:70%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255,0.3);

   
}
.header-titulo2 h1{
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow:4px 2px 2px #403222;
}
.header-titulo2 h2{
    text-align: center;
    padding-left: 10px;
    padding-bottom: 30px;
    font-size: 25px;
    color: white;
    text-shadow:4px 2px 2px #403222;
}

.cabecalho{
 
    width: auto;
    height: auto;
    background: url(../../imagens/background/paisagem-320px-548px-gimp.webp)no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.secao-basquete{
   
  
    width: auto;
    height: auto;

    border-radius: 20px;
    
}
.imagem-basquete{
  
  
    border: 1.5px solid #D9A25F;
   width: 100%;
    height: auto;
    border-radius: 1%;
  
 
}
.grid {
    

    align-items: center;
    border-top: 3px solid #D9A25F;
    border-left:3px solid #D9A25F ;
    border-right: 3px solid #D9A25F;
    border-radius: 8px;
    margin: 3%;
    display: grid;

}  

.grid >div:nth-child(1){
  
     padding: 4%;
      align-items: center;
      position: center;

 

}
.grid >div:nth-child(2){

    color:#D9A25F;
    padding: 8%;
    margin-left:6%;
    margin-right:6%;
  
    border: 2px solid #D9A25F;
    border-radius: 8px;
    background-color: #590A0A;
  

}
.h1-beneficios{
    text-align: center;
    margin: 2%;
}
.ol{
    margin-top: 8%;
}

.grid >div:nth-child(3){
    margin:-7px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    background-color: white;
    border-radius: 0px 0px 0px 0px ;
    color: #8C0D0D;
    padding: 25px;

    width: auto;
    height: auto;
    align-items: center;

   
}

.grid>div h1:nth-child(n+1){
    color:#D9AD5B;
     font-size: 30px;
     text-shadow: 0px 0px 2px rgb(0, 0, 0);
   
}
.grid>div h3:nth-child(n+1){
   text-indent: 20px;
   
}

.grid>div p:nth-child(n+1){
color: black;

}


.img-basquete{
 
      /*deixa o cursor do mouse a mão aberta */
     cursor: grab;
     border: 3px solid #590A0A ;
     border-radius: 50%;
     z-index:0;
         /*usando a chave da animação definindo transição linear infinito*/
     animation: girar 0.7s linear infinite;
     
 }
 .img-basquete:hover{
    animation: bola-movimento 0.7s infinite;

}
 .informacao{
    background-color: white;
 
}

.container-img{

  
      background-color: white;
      width: 100%;

      height: 160px;
      margin-top: 8%;
      padding-bottom: 8%;
      padding-top: 5%;
    
  }
  .img-nba{
        
      width: 100%;
      height: 170px;
      background: url(../../imagens/background/nba01-690px-200px.webp);
      background-position-y: 45%;
      /*opacity: 0.6;*/
  }
  
  .titulo-img-nba{
      padding-left: 38%;
      padding-top: 15%;
      display: absolute;
      right: 100px;
      width: 100px;
      height: 100px;
      font-size: 50px;
      
      color: white;
  }
  .informacao-nba{
      margin-top: 3%;
      margin-left: 11%;
      margin-right: 11%;
      margin-bottom: 3%;
  }

  .h1-destaques{
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 40px;
      font-size: 20px;
  }
.nba-estatistica-time{
    

    background-color: rgb(139, 22, 22);
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
   }
   .container-time-nba{
        margin-top: 3%;
        margin-left: 25%;
        margin-right: 25%;
      
       width: auto;
       height: auto;
   }
   .time-01{
      padding: 0%;
       margin-right: -5%;
       margin-top: 30%;
     
       margin-bottom: 55%;
       display: inline-block;
       width: 180px;
       height: 180px;
       border-radius: 50%;
       background-color: #590A0A;
       z-index: 0;
       position: relative;
   
   }
   .h1-1{
       opacity: 0;
        width: 300px;
        height: 300px;
   
       width: auto;
       height: auto;
       right: 57%;
    
        top: -100%;
      
 position: absolute;
 font-size:210px;
    color: rgb(255, 255, 255);
 

z-index: -2;
}
   .chicago-bulls {
         
       width: 100%;
       height: 100%;
   
   }
   .time-02{
       position: relative;
    margin-top: 5%;
       margin-right: 5%;
       display: inline-block;
       width: 180px;
       height: 180px;
       margin-bottom: 55%;
       border-radius: 50%;
       background-color: #590A0A;
z-index: 0;
   }
   
.h1-2{
    opacity: 0;
    width: 300px;
    height: 300px;

   width: auto;
   height: auto;
   right: 57%;

    top: -100%;
  
position: absolute;
font-size:210px;
color: rgb(255, 255, 255);


z-index: -2;
}
}
   .golden-state{
       width: 100%;
       height: 100%;
   
   }
   .time-03{
    margin-bottom: 0%;
    position: relative;
    margin-top: 10%;
       margin-right: 5%;
       display: inline-block;
       width: 180px;
       height: 180px;
       margin-bottom: 20%;
       border-radius: 50%;
       background-color: #590A0A;
z-index: 0;
   }
   .h1-3{
       opacity: 0;
    width: 300px;
    height: 300px;

   width: auto;
   height: auto;
   right: 57%;

    top: -100%;
  
position: absolute;
font-size:210px;
color: rgb(255, 255, 255);


z-index: -2;
}

   .boston-celtics{
       width: 100%;
       height: 100%;
   }
   



/*adicionando chave para animaçâo */
 @keyframes bola-movimento {
     from{
          transform: translateY(0px);
     }
     to{

        transform: translateY(-7px);
     }
     
 }

 /*animação circular crescente do ponto ao maximo da imagem */
@keyframes scale {
    from {
        border-radius: 50%;
       transform: scale(0);
       opacity: 0;
    }
    to{
        border-radius: 50%;
       transform:scale (3.0);
       opacity: 1;
    }

}
@keyframes move {
   from{
   
        transform: translateX(0px);
   }
   to{

      transform: translateX(100%);
   }

   
   
}
@keyframes opacidade {
   from{
   
       opacity: 0;
   }
   to{

     opacity: 1;
   }

   
   
}
@keyframes girar {
    from{
    
        transform: rotate(0deg);
    }
    to{
 
        transform: rotate(160deg);
    }
 
    
    
 }



