
@charset "UTF-8";

@media screen and (min-width:0px) and (max-width:700px){

.secao-motor{
    width: auto;
    height: auto;
    border-radius: 20px; 
}
.imagem-motor{
    border: 1.5px solid #8C0D0D;
    width: 100%;
    height: auto;
    border-radius: 1%;
}
.h1-motor{
    font-size: 20px;
    text-align:center;
    color: #000000;
}
.grid-motor{
    align-items: center;
    border-top: 3px solid #8C0D0D;
    border-left:3px solid #8C0D0D ;
    border-right: 3px solid #8C0D0D;
    border-radius: 8px;
    margin: 3%;
    display: grid;
    background-color: #4a4a4b;
}  
.grid-motor >div:nth-child(1){
    padding: 4%;
    align-items: center;
    position: center;
}
.grid-motor >div:nth-child(2){
    color:white;
    padding: 8%;
    margin-left:6%;
    margin-right:6%;
    border: 2px solid #8C0D0D;
    border-radius: 8px;
    background-color:#000000;
}
.h1-beneficios{
    text-align: center;
    margin: 2%;
}
.ol{
    margin-top: 8%;
}
.grid-motor >div:nth-child(3){
    margin:-7px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    background-color: white;
    border-radius: 0px 0px 0px 0px ;
    color: #8C0D0D;
    padding: 25px;
    width: auto;
    height: auto;
    align-items: center; 
}
.grid-motor>div h1:nth-child(n+1){
    color:#b40202;
    font-size: 30px;
    text-shadow: 0px 0px 2px rgb(0, 0, 0); 
}
.grid-motor>div h3:nth-child(n+1){
   text-indent: 20px;
   color: #28292b
}
.grid-motor>div p:nth-child(n+1){
    color: black;
}
.img-motor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 170px;
    background: url(../../imagens/background/formula-one-background-gimp.webp)center center;
    /*opacity: 0.6;*/
    background-size: cover;
    margin-top: 6%;
    background-position-y: 45%;
}
.container-img{
    background-color: white;
    width: 100%;
    height: 160px;
    margin-top: 8%;
    padding-bottom: 8%;
    padding-top: 5%;
}
.titulo-img-motor{
    font-size: 38px;
    color: white;
}
.motor-informacao{
    margin-top: 3%;
    margin-left: 11%;
    margin-right: 11%;
    margin-bottom: 3%;
}
/*============Container=============== */
.h1-destaques-formula-one{
    text-align: center;
    color: black;
    padding: 10px;
    font-size: 20px;
}
.formula-one-estatistica-logo{
    background-color: rgb(59, 59, 59);
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
 }
.container-formula-one{
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
    width: auto;
    height: auto;
 }
 .a-motor{
     display: inline-block;
     color: yellow;
     text-decoration: none;
 }
 .a-motor:hover{
     color: black;
 }
.formula-one-quadro {
    padding: 0%;
    margin-right: -5%;
    margin-top: 30%;
    margin-bottom: 55%;
    display: inline-block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: black;
    z-index: 0;
    position: relative;
 
 }
.h1-1{
    opacity: 0;
    width: 300px;
    height: 300px;
    width: auto;
    height: auto;
    right: 57%;
    top: -100%;  
    position: absolute;
    font-size:210px;
    color: rgb(255, 255, 255);
    z-index: -2;
}
.ayrton-senna {   
    position: relative;
    top: 9px;
    left: 9px;
    width: 90%;
    height: 90%;
    border-radius: 50%;
 }
.formula-quadro-2{
    position: relative;
    margin-top: 5%;
    margin-right: 5%;
    display: inline-block;
    width: 180px;
    height: 180px;
    margin-bottom: 55%;
    border-radius: 50%;
    background-color: black;
    z-index: 0;
 }
 
.h1-2{
    opacity: 0;
    width: 300px;
    height: 300px;
    width: auto;
    height: auto;
    right: 57%;
    top: -100%;
    position: absolute;
    font-size:210px;
    color: rgb(255, 255, 255);
    z-index: -2;
}

.formula-img-02{
    position: relative;
    top: 9px;
    left: 9px;
    width: 90%;
    height: 90%;
    border-radius: 50%;
 }
.formula-quadro-3{
    margin-bottom: 0%;
    position: relative;
    margin-top: 10%;
    margin-right: 5%;
    display: inline-block;
    width: 180px;
    height: 180px;
    margin-bottom: 20%;
    border-radius: 50%;
    background-color: black;
    z-index: 0;
 }
.h1-3{
    opacity: 0;
    width: 300px;
    height: 300px;
    width: auto;
    height: auto;
    right: 57%;
    top: -100%;
    position: absolute;
    font-size:210px;
    color: rgb(255, 255, 255);
    z-index: -2;
}
.formula-img-03{
    position: relative;
    top: 9px;
    left: 9px;
    width: 90%;
    height: 90%;
    border-radius: 50%;
 }
/*adicionando chave para animaçâo */
 @keyframes bola-movimento {
     from{
          transform: translateY(0px);
     }
     to{
        transform: translateY(-7px);
     }
 }

 /*animação circular crescente do ponto ao maximo da imagem */
@keyframes scale {
    from {
        border-radius: 50%;
       transform: scale(0);
       opacity: 0;
    }
    to{
        border-radius: 50%;
       transform:scale (3.0);
       opacity: 1;
    }
}
@keyframes move {
   from{ 
        transform: translateX(0px);
   }
   to{

      transform: translateX(100%);
   }  
   
}
@keyframes opacidade {
   from{
   
       opacity: 0;
   }
   to{
     opacity: 1;
   }  
   
}
@keyframes girar {
    from{
    
        transform: rotate(0deg);
    }
    to{
 
        transform: rotate(160deg);
    }
       
 }



}